/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
        kleuren: grijs #899CA0 en donkergroen #1C2B32
    2. Typografie
        lettertypen: Poppins
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



header{
    position: relative;
    max-width: 100%;
    text-align: center;
}
.container{
    position: relative;
    text-align: center;
    display: inline-block;
    object-fit: cover;
}
.center{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-border{
    border: 1px solid #1C2B32;
    text-align: center;
    display: inline-block;
    width: 35%;
    border-radius: 50rem;

}
.Blokje{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    margin:0;
    width:100%;
    padding: 0;
}
.g-button{
    border-bottom-right-radius: 50rem;
    border-top-right-radius: 50rem;
    background-color: #1C2B32;
    color: white;
    border: none
}
p{
    margin: 1%;
    padding:0;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem;
    margin: 2%;
    color: #1C2B32;
}



/*////////////////////////
    1. Global Styles
////////////////////////*/



/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/



/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/