/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
        kleuren: grijs #899CA0 en donkergroen #1C2B32
    2. Typografie
        lettertypen: Poppins
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

Body{

}



p{

}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem;
    margin: 2%;
    margin-bottom: 0rem;
    color: #1C2B32;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
    margin: 2rem;
    color: #1C2B32;
    text-align: center;
    padding: 1rem;

}



/*////////////////////////
    1. Global Styles
////////////////////////*/



/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
header{
    font-family: "Poppins-thick", sans-serif;
    background-color: #191923;
    margin-outside: 0;
    color: white;
    padding: 0;
    margin:0;
    display:flex;
    justify-content: space-between;
}
.flex-ver-center-con{
    display: flex;
    align-items: center;
}

/*---------// 3.1 Header Icon /////////////*/
.inline-block{

}
.page-name{
    padding: 1.5rem;
    margin: 0;
}
.locationDisplay{
    padding: 0 1.5rem 0 0.5rem;
    margin: 0;
}
.localWheater{
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;
}



/*///////////  Main     ///////////////*/
main{
    font-family: "Poppins-thin", sans-serif;
    color:  black;
    background-color: #0E79B2;
    flex-grow: 1;
}

/*///////////// Weather card /////////////*/
.card{
    width: 90%;
    max-width:470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size:80px;
    font-weight: 500;
}
.weather h2{
    font-size:45px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px
}
.detail col{
    display: flex;
    align-items: center;
    text-align: left;
}
.detail .col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: 1px ;

}




/*///////////// 3.3 Support /////////////*/


/*///////////// 3.4 Faq /////////////*/


/*///////////// 3.5 Footer /////////////*/
footer{
    font-family: "Poppins-thin", sans-serif;
    color:  black;
    background-color: #58B09C;
}
#page-container {
    position: relative;
    min-height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}